

body {
  background: black url('background.png') center/cover no-repeat fixed;
  text-align: center;

}


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    font-weight: 700;
    color: #000;
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translateY(-50%);
    margin: 0; 
    font-style: italic;
    letter-spacing: -2px;
    line-height: 1;
    z-index: 10;
    align-items: right
    ;
}

